.container {
    text-align: center;
}

table {
    margin: auto;

}

input {
    font-size: 38px;
    border-radius: 25px;
    border: 2px solid rgb(190, 176, 176);

}

button {
    font-size: 23px;
    background-color: rgb(165, 157, 167);
    border-radius: 47px;
    width: 114px;
    height: 58px;
}

button::after {
    font-size: 23px;
    background-color: rgb(165, 157, 167);
    border-radius: 47px;
    width: 114px;
    height: 58px;
    transition: 0.6s all;
}

.calculator {
    display: inline-block;
    background: #d068f0;
    padding: 20px;
    border-radius: 44px;
}
}